{% extends 'base_site.html' %}
{% block content %}
<div class="container">
    <h2>AdddadadBook</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.img.label_tag }}
            {{ form.img }}
        </div>
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.genre.label_tag }}
            {{ form.genre }}
        </div>
        <div class="form-group">
            {{ form.editor.label_tag }}
            {{ form.editor }}
        </div>
        <div class="form-group">
            {{ form.isbn.label_tag }}
            {{ form.isbn }}
        </div>
        <div class="form-group">
            {{ form.publication_date.label_tag }}
            {{ form.publication_date }}
        </div>
        <div class="form-group">
            {{ form.qty.label_tag }}
            {{ form.qty }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}