{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Dasir Library</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block content %}
<h1>Benvenuto {{ user.username }}</h1>
<div class="container">
    <div class ="row" style="display:flex;">
        <div class ="col" style="width: 50%; display: flex;">
            <div class ="card" style="height: 30rem; width: auto; display: flex; flex-direction: column; align-items: center;">
                <canvas id="bar-chart" data-url="{% url 'ajax-lost-books' %}"></canvas>
                <div class ="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class ="col" style="width: 50%; display: flex;">
            <div class ="card" style="height: 20rem; width: auto; display: flex; flex-direction: column; align-items: center;">
                <canvas id="pie-chart" data-url="{% url 'ajax-books-status' %}"></canvas>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class ="row" style="display:flex;">
        <div class ="col" style="width: 50%;">
            <div class= "card">
              <canvas id="pie-chart-2" data-url="{% url 'ajax-users-book-genre' %}"></canvas>
              <div class= "card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            </div>
            <div class ="col" style="width: 50%;">
            <div class="card">
              <canvas id="bar-chart-2" data-url="{% url 'ajax-users-year' %}"></canvas>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  $(function () {
    var $barChart = $("#bar-chart");
    $.ajax({
      url: $barChart.data("url"),
      success: function (data) {

        var bar_ctx = $barChart[0].getContext("2d");

        new Chart(bar_ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Lost Books',
              data: data.data,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }
    });
  });

  $(function () {
    var $pieChart = $("#pie-chart");
    $.ajax({
      url: $pieChart.data("url"),
      success: function (data) {

        var pie_ctx = $pieChart[0].getContext("2d");

        new Chart(pie_ctx, {
          type: 'pie',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Books per Status',
              data: data.data,
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
              ],
              hoverOffset: 4
            }]
          },
        });
      }
    });
  });

  $(function () {
    var $bar2Chart = $("#bar-chart-2");
    $.ajax({
      url: $bar2Chart.data("url"),
      success: function (data) {

        var bar2_ctx = $bar2Chart[0].getContext("2d");

        new Chart(bar2_ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Users per Year',
              data: data.data,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }
    });
  });

  $(function () {
    var $pie2Chart = $("#pie-chart-2");
    $.ajax({
      url: $pie2Chart.data("url"),
      success: function (data) {

        var pie2_ctx = $pie2Chart[0].getContext("2d");

        new Chart(pie2_ctx, {
          type: 'pie',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Books per Status',
              data: data.data,
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
              ],
              hoverOffset: 4
            }]
          },
        });
      }
    });
  });

</script>
{% endblock %}
