<div class ="container d-flex flex-column">
    <div class ="row align-items-center">
        <div class ="col-12 col-md-6">
            <div class ="card mt-5 my-md-0" style="border:none;">
                <div class="card-header" style="border:none; background-color: transparent; text-transform : uppercase;">Lost</div>
                <div class ="card-body" style="width:400px; height:400px;border:none; background-color: transparent; text-transform : uppercase;">
                    <canvas id="bar-chart" width="150" height="150" data-url="{% url 'ajax-lost-books' %}"></canvas>
                </div>
            </div>
        </div>
        <div class ="col-12 col-md-6">
            <div class ="card mt-5 my-md-0" style="border:none;">
                <div class="card-header" style="border:none; background-color: transparent; text-transform : uppercase;">Status</div>

                <div class ="card-body" style="width:600px; height:400px;border:none; background-color: transparent; text-transform : uppercase;">

                    <canvas id="multibar-chart" width="150" height="150" data-url="{% url 'ajax-books-status' %}"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class ="row my-0 my-md-5 align-items-center">
        <div class ="col-12 col-md-6">
            <div class= "card mt-5 my-md-0" style="border:none;">
                <div class="card-header" style="border:none; background-color: transparent; text-transform : uppercase;">Genres</div>
                <div class ="card-body" style="width:400px; height:400px;border:none; background-color: transparent; text-transform : uppercase;">
                    <canvas id="pie-chart-2" width="150" height="150" data-url="{% url 'ajax-users-book-genre' %}"></canvas>
                </div>
            </div>
        </div>
        <div class ="col-12 col-md-6">
            <div class ="card mt-5 my-md-0" style="border:none;">
                <div class="card-header" style="border:none; background-color: transparent; text-transform : uppercase;">Users for years</div>
                <div class ="card-body" style="width:400px; height:400px;border:none; background-color: transparent; text-transform : uppercase;">
                    <canvas id="bar-chart-2" width="150" height="150" data-url="{% url 'ajax-users-year' %}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 my-md-0">
    <div class ="row">
        <div class ="col-12">
            <h5>On Loan Table</h5>
            <div class ="table-responsive">
                <table class ="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Book</th>
                        <th scope="col">Status</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Insert Date</th>
                        <th scope="col">Update Date</th>
                    </tr>
                    </thead>
                    <tbody id="last-loans">
                </table>
            </div>
        </div>
    </div><!--chiusura tab 1-->

    <div class ="row mt-5">
        <div class ="col-12">
            <h5>News Table</h5>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Img</th>
                        <th scope="col">Header</th>
                        <th scope="col">Text</th>
                        <th scope="col">Insert Date</th>
                        <th scope="col">Update Date</th>
                    </tr>
                    </thead>
                    <tbody id="last-news">
                </table>
            </div>
        </div>
    </div><!--chiusura tab 2-->
</div><!--chiusura container Tab-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    //Charts

    //Lost Books
    $(function () {
      var $barChart = $("#bar-chart");
      $.ajax({
        url: $barChart.data("url"),
        success: function (data) {

          var bar_ctx = $barChart[0].getContext("2d");

          new Chart(bar_ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Lost',
                data: data.data,
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              },
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  position: 'bottom'
                }
            }
            }
          });
        }
      });
    });

    //Books Status
    $(function () {
      var $multibarChart = $("#multibar-chart");
      $.ajax({
        url: $multibarChart.data("url"),
        success: function (data) {

          var multibar_ctx = $multibarChart[0].getContext("2d");

          new Chart(multibar_ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [
              {
                label: 'Available',
                data: data.available,
                borderColor: [
                  'rgb(146, 84, 201)',
                ],
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
              },
              {
                label: 'On Loan',
                data: data.onLoan,
                borderColor: [
                  'rgb(54, 162, 235)',
                ],
                fill: false,
                tension: 0.4
              },
              {
                label: 'Lost',
                data: data.lost,
                borderColor: [
                  'rgb(231, 2, 247)'
                ],
                fill: false,
                tension: 0.4
              },
              {
                label: 'Damaged',
                data: data.damaged,
                borderColor: [
                  'rgb(0, 255, 86)'
                ],
                fill: false,
                tension: 0.4
              },
              {
                label: 'Available Never Loaned',
                data: data.neverLoanedAvailable,
                borderColor: [
                  'rgb(255, 145, 0)'
                ],
                fill: false
              },
              {
                label: 'Not Yet Available',
                data: data.neverLoanedNotAvailable,
                borderColor: [
                  'rgb(255, 0, 76)'
                ],
                fill: false
              },
              ]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              interaction: {
                intersect: false,
              },
              scales: {
                x: {
                  display: true,
                  title: {
                    display: true
                  }
                },
                y: {
                  display: true,
                  title: {
                    display: true,
                  },
                  suggestedMin: 0,
                  suggestedMax: 5
                },
              },
              plugins: {
                  legend: {
                    position: 'bottom'
                  }
              }
            }
          });
        }
      });
    });

    //Book Genre by Users
    $(function () {
      var $bar2Chart = $("#bar-chart-2");
      $.ajax({
        url: $bar2Chart.data("url"),
        success: function (data) {

          var bar2_ctx = $bar2Chart[0].getContext("2d");

          new Chart(bar2_ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Users for Year',
                data: data.data,
                borderWidth: 1,
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                    position: 'bottom'
                  }
              },
              scales: {
                y: {
                  beginAtZero: true
                },
              }
            }
          });
        }
      });
    });

    //Register Users per Year
    $(function () {
      var $pie2Chart = $("#pie-chart-2");
      $.ajax({
        url: $pie2Chart.data("url"),
        success: function (data) {

          var pie2_ctx = $pie2Chart[0].getContext("2d");

          new Chart(pie2_ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Books for Status',
                data: data.data,
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)',
                  'rgb(22, 231, 22)',
                  'rgb(245, 88, 15)',
                  'rgb(255, 10, 20)'

                ],
                hoverOffset: 4
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                    position: 'bottom'
                  }
              }
            }
          });
        }
      });
    });

    //Tables

    //Last Loans
    $.ajax({
      type: 'GET',
      url: '/ajax-last-loans',
      success:
        function(response) {
          const loans = response.loans;
          const tableBody = $('#last-loans');

          loans.forEach((loan, index) => {
            const row = `
              <tr>
                <td>${index + 1}</td>
                <td>${loan.user__username}</td>
                <td>${loan.book__title}</td>
                <td>${loan.status}</td>
                <td>${loan.due_date}</td>
                <td>${loan.insert_date}</td>
                <td>${loan.update_date}</td>
              </tr>
            `;
            tableBody.append(row);
          })
        }
    })

    //Last News
    $.ajax({
      type: 'GET',
      url: '/ajax-last-news',
      success:
        function(response) {
          const news = response.news;
          const tableBody = $('#last-news');

          news.forEach((news, index) => {
            const row = `
              <tr>
                <td>${index + 1}</td>
                <td>${news.img}</td>
                <td>${news.header}</td>
                <td>${news.text}</td>
                <td>${news.insert_date}</td>
                <td>${news.update_date}</td>
              </tr>
            `;
            tableBody.append(row);
          })
        }
    })
</script>