form .aligned ul li {
    display: none;
}
.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 0.6875rem;
    display: none;
    color: var(--body-quiet-color);
}.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 0.6875rem;
    color: var(--body-quiet-color);
}