.button{
    display: none;
}

.dropdown-menu {
    display: none !important;
}
.dropdownMenuButton {
    display: none !important;
}
#footer {
    background-color: #3B8EDE;
    color: #ffffff;
    padding: 3px;
    text-align: center;
}
#site-name a:link, #site-name a:visited {
    color: white;   
}
#header {
    background-color: #3B8EDE;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}