{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>{% endblock %}
{% block title %}{% translate 'Logged out' %}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/logout_custom.css' %}">
{% endblock %}

{% block branding %}
{% endblock %}

{% block nav-sidebar %}
{% endblock %}

{% block content %}

<p>{% translate "Thanks for spending some quality time with the web site today" %}</p>
<p><a href="{% url 'admin:index' %}">{% translate 'Log in again' %}</a></p>

{% endblock %}
