{% block extrahead %}{% endblock %}
<fieldset>
    <div class="row">
        {% for line in fieldset %}
        <div class="col-4">
            {% for field in line %}
                <div class="container-fluid">
                    {% if field.is_checkbox %}
                        <div><br></div>
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            <div></div>
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</fieldset>