<fieldset>
  <legend>{{ fieldset.name }}</legend>
  <div class="container center">

    <div class="row mb-3 pb-3 border-bottom">
      <div class="col-1">
        {{ adminform.form.img.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.img }}
      </div>
      <div class="col-1">
        {{ adminform.form.title.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.title }}
      </div>
    </div>


    <div class="row mb-4 pb-3 border-bottom">
      <div class="col-1">
        {{ adminform.form.author.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.author }}
      </div>
      <div class="col-1">
        {{ adminform.form.genre.label_tag }}
      </div>
      <div class="col-5"
        {{ adminform.form.genre }}
      </div>
    </div>


    <div class="row mb-3 pb-3 border-bottom">
      <div class="col-1">
        {{ adminform.form.editor.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.editor }}
      </div>
      <div class="col-1">
        {{ adminform.form.publication_date.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.publication_date }}
      </div>
    </div>


    <div class="row mb-3 pb-3 border-bottom">
      <div class="col-1">
        {{ adminform.form.isbn.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.isbn }}
      </div>
      <div class="col-1">
        {{ adminform.form.insert_date.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.insert_date }}
      </div>
    </div>


    <div class="row mb-3 pb-3 border-bottom">
      <div class="col-1">
        {{ adminform.form.qty.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.qty }}
      </div>
      <div class="col-1">
        {{ adminform.form.activate.label_tag }}
      </div>
      <div class="col-5">
        {{ adminform.form.activate }}
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="form-check">
          {{ adminform.form.available }}
          {{ adminform.form.available.label_tag }}
        </div>
      </div>
    </div>

  </div>
</fieldset>
