<fieldset>

  <div class="container">


    <div class="row mb-3 pb-3 border-bottom">
      <div class="col-2">
        {{ adminform.form.header.label_tag }}
      </div>
      <div class="col-4">
        {{ adminform.form.header }}
      </div>
      <div class="col-2">
        {{ adminform.form.img.label_tag }}
      </div>
      <div class="col-4">
        {{ adminform.form.img }}
      </div>
    </div>
    <div class="row mb-4 pb-3 border-bottom">
      <div class="col-2">
        {{ adminform.form.text.label_tag }}
      </div>
      <div class="col-10">
        {{ adminform.form.text }}
      </div>
    </div>


  </div>
</fieldset>