<fieldset>

            <div class="container center">
              <div class="row mb-3 pb-3 border-bottom">
                <div class="col-1">{{ adminform.form.username.label_tag }}</div>
                <div class="col-5">{{ adminform.form.username }}</div>
                <div class="col-1">{{ adminform.form.first_name.label_tag }}</div>
                <div class="col-5">{{ adminform.form.first_name }}</div>
              </div>
              <div class="row mb-3 pb-3 border-bottom">
                <div class="col-1">{{ adminform.form.password1.label_tag }}</div>
                <div class="col-5">{{ adminform.form.password1 }}</div>
                <div class="col-1">{{ adminform.form.last_name.label_tag }}</div>
                <div class="col-5">{{ adminform.form.last_name }}</div>
              </div>
              <div class="row mb-3 pb-3 border-bottom">
                <div class="col-1">{{ adminform.form.password2.label_tag }}</div>
                <div class="col-5">{{ adminform.form.password2 }}</div>
                <div class="col-1">{{ adminform.form.phone_number.label_tag }}</div>
                <div class="col-5">{{ adminform.form.phone_number }}</div>
              </div>
              <div class="row mb-3 pb-3 border-bottom">
                <div class="col-1">{{ adminform.form.email.label_tag }}</div>
                <div class="col-5">{{ adminform.form.email }}</div>
                <div class="col-1">{{ adminform.form.is_active.label_tag }}</div>
                <div class="col-5">{{ adminform.form.is_active }}</div>
              </div>

            </div>
          </fieldset>

