{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ adminform.form.img.label_tag }}
                {{ adminform.form.img }}
            </div>
            <div class="form-group">
                {{ adminform.form.title.label_tag }}
                {{ adminform.form.title }}
            </div>
            <div class="form-group">
                {{ adminform.form.author.label_tag }}
                {{ adminform.form.author }}
            </div>
            <div class="form-group">
                {{ adminform.form.genre.label_tag }}
                {{ adminform.form.genre }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ adminform.form.editor.label_tag }}
                {{ adminform.form.editor }}
            </div>
            <div class="form-group">
                {{ adminform.form.isbn.label_tag }}
                {{ adminform.form.isbn }}
            </div>
            <div class="form-group">
                {{ adminform.form.publication_date.label_tag }}
                {{ adminform.form.publication_date }}
            </div>
            <div class="form-group">
                {{ adminform.form.qty.label_tag }}
                {{ adminform.form.qty }}
            </div>
            <div class="form-group">
                {{ adminform.form.activate.label_tag }}
                {{ adminform.form.activate }}
            </div>
        </div>
    </div>
</div>


<div class="submit-row mt-3">
    <button type="submit" name="_save" class="btn btn-primary">Save</button>
    <button type="submit" name="_addanother" class="btn btn-secondary">Save and add another</button>
    <button type="submit" name="_continue" class="btn btn-info">Save and continue editing</button>
</div>


{% endblock %}
